<div style="box-shadow: 0 5px 5px -5px #333; z-index: 999; position: relative; background-color: rgba(201, 201, 201, 0.2); height: 60px;">
  <app-header></app-header>
 </div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidenav mode="side" class="leftSideNav" opened>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main_content">
      <div style="padding: 20px; height: 100%; overflow: auto;">
        <mat-card class="matcardStyle">
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
