p {
  font-family: Lato;
}

.main_content {
  width: 100%;
  height: calc(100vh - 120px);//calc(100vh - 120px);
  /* background: #efefef; */
}


.leftSideNav {
  background-color: rgba(201, 201, 201, 0.2);
  //background-color: snow;
  box-shadow: 2px 0 5px -5px #333;
  min-width: 200px;
}

.sidenav-container{
  height: calc(100vh - 60px);
}


.matcardStyle{
  min-height: calc(100vh - 153px);
  overflow: auto;
}
