<div class="MenuStyle">
  <button mat-button class="MenuButton" routerLink="/">
    <mat-icon aria-hidden="false" fontIcon="home" ></mat-icon>
    <span>Strona Główna</span>
  </button>
  <button mat-button class="MenuButton" routerLink="/product/produkt-lista">
    <mat-icon aria-hidden="false" fontIcon="shopping_cart" ></mat-icon>
    <span>Lista Produktów</span>
  </button>
</div>
