.MenuStyle{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.MenuButton{
  width: 100%;
  text-align: start;


  mat-icon{
    margin-top: -3px;
    margin-right: 10px;
  }
}
