<h2 mat-dialog-title>{{data.ProductName}} - Cena: {{data.ProductPrice}}USD</h2>
<mat-dialog-content class="mat-typography">
  <img src="{{data.ProductPhotoURL}}" />

  <h2>Opis:</h2>
  <BR>
  {{data.ProductDescription}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zakończ</button>
</mat-dialog-actions>
