<div>
  <mat-form-field appearance="legacy" [formGroup]="SearchForm">
    <mat-label>Wyszukaj</mat-label>
    <input matInput placeholder="Wyszukaj" formControlName="SearchValue" >
  </mat-form-field>
</div>


<!-- Tabela -->
<div class="tab-container mat-elevation-z8">
  <!-- Wczytywanie strony -->
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      Wystąpił problem z pobraniem danych.
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="data">
      ['ProductCategoryName', 'ProductBrandName', 'ProductName', 'Price', 'Stock', 'Description'];
      <ng-container matColumnDef="ProductCategoryName">
        <th mat-header-cell *matHeaderCellDef > Kategoria </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductCategoryName}} </td>
      </ng-container>

      <ng-container matColumnDef="ProductBrandName">
        <th mat-header-cell *matHeaderCellDef > Marka </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductBrandName}} </td>
      </ng-container>

      <ng-container matColumnDef="ProductName">
        <th mat-header-cell *matHeaderCellDef > Nazwa produktu </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef > Cena </th>
        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Stock">
        <th mat-header-cell *matHeaderCellDef > Ilość </th>
        <td mat-cell *matCellDef="let element"> {{element.Stock}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef > Opis </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

         <!-- Menu Nagłówek -->
      <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
              Opcje
            </th>
      <!-- Menu wiersze -->
      <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" class="settingRows" [matMenuTriggerFor]="menu">
                <mat-icon >reorder</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="OpenDetailDailog(element)">
                  <mat-icon>search</mat-icon> Szczegóły
                </button>

              </mat-menu>
            </td>
      </ng-container>

      <ng-container matColumnDef="paginator">
        <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
          </mat-paginator>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
    </table>
  </div>
</div>
