//#region Tabela
table {
  width: 100%;
}

.tab-container {
  height: 85%;
  overflow: auto;
  margin-top: 15px;
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-row {
  height: auto;
}

.mat-row:nth-child(n + 1) {
  background-color: rgb(201, 201, 201);
}
.mat-row:not(:nth-child(2n + 1)) {
  background-color: white;
}

tr.element-row:not(.expanded-row):hover {
  background: #999caa;
}


.mat-cell {
  padding: 0 16px 0 0;
}

.mat-header-cell {
  //padding: 0 16px 0 0;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(180, 188, 230);
}

.mat-header-row{
  height: 40px;
}

.mat-column-select {
  left: 0px !important;
  width: 74px !important;
  padding: 0 24px 0 24px;
}

.mat-column-action{
  width: 105px;
  text-align: center;
  padding: 0px 0px 0px 0px !important;
}

.mat-column-expandedDetail{
  background: rgba(187, 187, 187, 0.3);
}

.settingRowsButton{
  height: 24px;
  width: 24px;
}

.buttonActionHeader{
  margin-left: -25px;
}

//#endregion

/*#region Formularz wyszukiwanie*/
.grid {
  width: 100% !important;
}

.fullWidthFormFiled {
  width: 100%;
}
/*#endregion */

//#region Logowanie danych
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
//#endregion

.settingRows{
  border: none;
  background-color: transparent;
  color: rgb(108, 73, 141);
}
